<div class="container">
  <h1>Say#hello</h1>
  <p>Find me in app/views/say/hello.html.erb</p>
  <p><%= @var %></p>
</div>

<div class="container">
  <!-- DEMO: controller method variable exposed to erb. -->
  <h2>testing query string parameters:</h2>
  <p>Did I pass in parameter 'said_hi': <%= @said_hi %></p>

  <!-- DEMO: Query string parameters. -->
  <h2>prototype chat room related query string parameters</h2>
  <%=
    if @has_room_id
      raw("<p>'room_id' parameter was provided!</p>")
    else
      raw("<p>'room_id' parameter was <em>not</em> provided!</p>")
    end
  %>

  <!--  DEMO: Client button server respond.  -->
  <h2>Client button server respond demo</h2>
  <p>(not working...)</p>
  <form id="chatform" action="#">
    <fieldset>
      <input id="msg-input" type="text"/>
      <input class="btn btn-normal" id="button" type="submit" value="A button"/>
    </fieldset>
  </form>

  <!--  -->
  <h2>Rails form</h2>
  <%= form_tag("/say/new_msg", :method=>"post", :remote=>"true", :id=>"message-form") do %>
    <%= text_field_tag(:new_message) %>
    <%= submit_tag("Send", :class=>"btn") %>
  <% end %>

  <% if !@messages_copy.empty? %>
    <div class="well">
      <ul id="message-list">
        <% @messages_copy.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>


<!-- JS logic -->
<script type="text/javascript">
  $(document).ready(function(){

    // form button clicked.
    $("#button").click(function(){ // submit would just refresh the page.
      console.log("Submit");
    });

    // handle message form
    $("#message-form").bind('ajax:success', function(data, textStatus, jqXHR){
      console.log("form submit success!");
      
      console.log(data);
      document.body.innerHTML = data;
      //console.log(message_list);
    })

  })
  
</script>