
<div class="container">
  <h2>room: <%= @room_id %></h2>
  <div id="messages" class="well">
  </div>

  <%= form_tag("new_msg", :id=>"chat-form") do %>
    <%= text_field_tag(:message) %>
    <%= submit_tag("Send", :class=>"btn", :id=>"send-msg") %>
  <% end %>

</div>


<!-- JS logic -->
<script type="text/javascript">
$(document).ready(function(){

  <% if !signed_in? %>
    alert("Need to login!");
  <% end %>

  //######################################################################
  // Create a new client to connect to Faye
  var client = new Faye.Client('http://localhost:9292/faye');
  //var client_id = client.getClientId();

  //// logic to figure out room id
  var room_id = <%= @room_id %>;
  var room_path = "/messages/public/" + room_id;

  // message container type
  var container = "<p></p>";

  // Subscribe to the public channel
  var public_subscription
    = client.subscribe(room_path, function(data) {
      if (data.type === "text_message") {
        console.log("User said something.");
        $("#messages").append($(container).html(data.username + ": " + data.msg));
      }
      else if (data.type === "user_left") {
        console.log("User left.");
        $("#messages").append($(container).html(data.username + ": (left the room)"));
      }
      else if (data.type === "user_join") {
        console.log("User joined.");
        $("#messages").append($(container).html(data.username + ": (entered the room)"));
      }
      else if (data.type === "user_subscribe") {
        $("#messages").append($(container).html(data.client_id + ": (subscribed)"));
      }
      else if (data.type === "user_unsubscribe") {
        $("#messages").append($(container).html(data.client_id + ": (unsubcribed)"));
      }
    });

  // Notify room participants user joined the room.
  client.publish(room_path, {
    type:     "user_join",
    username: "<%= @username %>"
  });

  //Notify room participants user leaving the room.
  //  NOTE: this does not work at all because Faye seem to catch the message and disconnects first.
  $(window).bind("beforeunload", function(){
    console.log("beforeunload");
    console.log("  before publish");
    client.publish(room_path, {
      type:     "user_left",
      username: "<%= @username %>"
    });
    console.log("  after publish");
  });

  // Handle form submissions and post messages to faye
  $('#chat-form').submit(function(){
    // Publish the message to the public channel
    client.publish(room_path, {
      type:     "text_message",
      username: "<%= @username %>",
      msg:      $('#message').val()
    });

    // Clear the message box
    $('#message').val('');

    // Don't actually submit the form, otherwise the page will refresh.
    return false;
  });
  //######################################################################
})

</script>