<% provide(:title, 'Room '+@room_id) %>
<style type="text/css">

#messages {
  overflow-y:   auto;
}

</style>

<div class="container">
  
  <!--
  <div id="url_invite_helper" class="row">
    <div class="col-md-12">
      <h2 id="url_invite_helper_text"></h2>
    </div>
  </div>
  -->
    <div class="alert alert-info alert-dismissable">
	  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      To invite someone into the chat room, copy the URL at the top in your browser address bar and send it to them.
    </div>

  <div class="well">
    <div id="messages" >
    </div>
  </div>

  <%= form_tag("new_msg", :id=>"chat-form", :class=>"form-horizontal") do %>
    <%= text_field_tag(:message, nil, :class =>"form-control") %>
    <%= submit_tag("Send", :class=>"btn btn-default form-control", :id=>"send-msg") %>
  <% end %>

</div>


<!-- JS logic -->
<script type="text/javascript">
$(document).ready(function(){

  //######################################################################
  /*var helper_tag = "h2#url_invite_helper_text";
  var helper_text = "To invite someone into the chat room, copy the URL at the top in your browser address bar and send it to them.";
  $(helper_tag).text(helper_text);
  $(helper_tag).mouseover(function(){
    $(this).text("click to hide");
  });
  $(helper_tag).mouseout(function(){
    $(this).text(helper_text);
  });
  $(helper_tag).click(function(){
    $(this).hide();
  });*/
  //######################################################################

  //######################################################################
  // auto resize message output box. 
  $("#messages").height($(window).height() * 0.5);
  $(window).resize(function(){
    var window_height = $(window).height();
    $("#messages").height(window_height * 0.5);
  });

  //######################################################################

  //######################################################################
  // Create a new client to connect to Faye
  var client = new Faye.Client('http://localhost:9292/faye');
  client.disable("autodisconnect");
  //var client_id = client.getClientId();

  //// logic to figure out room id
  var room_id = <%= @room_id %>;
  var room_path = "/messages/public/" + room_id;

  // message container type
  var container = "<p></p>";

  // Subscribe to the public channel
  var public_subscription
    = client.subscribe(room_path, function(data) {
      if (data.type === "text_message") {
        console.log("User said something.");
        $("#messages").append($(container).html(data.username + ": " + data.msg));
      }
      else if (data.type === "user_left") {
        console.log("User left.");
        $("#messages").append($(container).html(data.username + ": (left the room)"));
      }
      else if (data.type === "user_join") {
        console.log("User joined.");
        $("#messages").append($(container).html(data.username + ": (entered the room)"));
      }
	  else if (data.type === "user_subscribe") {
        $("#messages").append($(container).html(data.client_id + " has entered the room"));
      }
      else if (data.type === "user_unsubscribe") {
        $("#messages").append($(container).html(data.client_id + " has left the room"));
      }
     /* else if (data.type === "user_subscribe") {
        $("#messages").append($(container).html(data.client_id + ": (subscribed)"));
      }
      else if (data.type === "user_unsubscribe") {
        $("#messages").append($(container).html(data.client_id + ": (unsubcribed)"));
      }*/
    });

  // Notify room participants user joined the room.
  client.publish(room_path, {
    type:     "user_join",
    username: "<%= @username %>"
  });

  //Notify room participants user leaving the room.
  //  NOTE: this does not work at all because Faye seem to catch the message and disconnects first.
  $(window).bind("beforeunload", function(){
    client.publish(room_path, {
      type:     "user_left",
      username: "<%= @username %>"
    });
  });
  $(window).bind("unload", function(){
    client.disconnect();
  });  

  // Handle form submissions and post messages to faye
  $('#chat-form').submit(function(){
    // Publish the message to the public channel
    client.publish(room_path, {
      type:     "text_message",
      username: "<%= @username %>",
      msg:      $('#message').val()
    });

    // Clear the message box
    $('#message').val('');

    // scroll to bottom.
    $("#messages").scrollTop($("#messages").get(0).scrollHeight);

    // Don't actually submit the form, otherwise the page will refresh.
    return false;
  });
  //######################################################################
})

</script>
