<% provide(:title, 'Room '+@room_id) %>
<style type="text/css">

#participant_list {
  overflow-y:   auto;
}
#messages {
  overflow-y:   auto;
}

</style>

<div class="container-fluid">

  <div class="alert alert-info alert-dismissable">
	  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    To invite someone into the chat room, copy the URL at the top in your browser address bar and send it to them.
  </div>

  <div class="row">
    <div class="col-md-4">
      <h4>Participant</h4>
      <div class="well">
        <div id="participant_list" ></div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="well">
        <div id="messages" ></div>
      </div>
    </div>
  </div>
  

  <%= form_tag("new_msg", :id=>"chat-form", :class=>"form-horizontal") do %>
    <%= text_field_tag(:message, nil, :class =>"form-control") %>
    <%= submit_tag("Send", :class=>"btn btn-default form-control", :id=>"send-msg") %>
  <% end %>

</div>


<!-- JS logic -->
<script type="text/javascript">

//
// Scroll to the bottom of the container.
//
var scrollToBottom = function(container) {
  var message_pool = $(container);
  message_pool.scrollTop(message_pool.get(0).scrollHeight);
};

// participant list
var participants = [];

var addParticipant = function(participant) {
  console.log(participant);
  if (participants.indexOf(participant) === -1)
  {
    participants.push(participant);
    participants.sort();
  }
};

var removeParticipant = function(participant) {
  var new_list = [""];
  for (p in participants)
  {
    if (participants[p] !== participant)
      new_list.push(participants[p]);
  }
  new_list.sort();
  participants = new_list;
};

var refreshParticipantList = function() {
  $("#participant_list").empty();
  for (p in participants)
  {
    $("#participant_list").append($("<p></p>").html(participants[p]));
  }
};

$(document).ready(function(){

  //######################################################################
  // auto resize message output box. 
  var size_ratio2 = 0.45;
  $("#messages").height($(window).height() * 0.5);
  $("#participant_list").height($(window).height() * size_ratio2);
  $(window).resize(function(){
    var window_height = $(window).height();
    $("#messages").height(window_height * 0.5);
    $("#participant_list").height(window_height * size_ratio2);
  });

  //######################################################################

  //######################################################################
  // Create a new client to connect to Faye
  var client = new Faye.Client('http://localhost:9292/faye');
  client.disable("autodisconnect");
  //var client_id = client.getClientId();

  //// logic to figure out room id
  var room_id = <%= @room_id %>;
  var room_path = "/messages/public/" + room_id;

  // message container type
  var container = "<p style=\"color: grey;\"></p>";

  // Subscribe to the public channel
  var public_subscription
    = client.subscribe(room_path, function(data) {
      if (data.type === "text_message") {
        console.log("User said something.");

        var name_node = $("<span style=\"color: green;\"></span>");
        name_node.html(data.username);
        var msg_node  = $("<span style=\"color: black;\"></span>");
        msg_node.html(data.msg);

        var entry_node = $(container);
        entry_node.append(name_node);
        entry_node.append(" : ");
        entry_node.append(msg_node);

        $("#messages").append(entry_node);

        addParticipant(data.username);
      }
      else if (data.type === "user_left") {
        console.log("User left.");
        $("#messages").append($(container).html("(" + data.username + ": left the room)"));
        removeParticipant(data.username);
      }
      else if (data.type === "user_join") {
        console.log("User joined.");
        $("#messages").append($(container).html("(" + data.username + ": entered the room)"));
        addParticipant(data.username);
      }
      refreshParticipantList();

      scrollToBottom("#messages");
    });

  // Notify room participants user joined the room.
  client.publish(room_path, {
    type:     "user_join",
    username: "<%= @username %>"
  });

  //Notify room participants user leaving the room.
  //  NOTE: this does not work at all because Faye seem to catch the message and disconnects first.
  $(window).bind("beforeunload", function(){
    client.publish(room_path, {
      type:     "user_left",
      username: "<%= @username %>"
    });
  });
  $(window).bind("unload", function(){
    client.disconnect();
  });  

  // Handle form submissions and post messages to faye
  $("#chat-form").submit(function(){
    // Publish the message to the public channel
    client.publish(room_path, {
      type:     "text_message",
      username: "<%= @username %>",
      msg:      $("#message").val()
    });

    $("#message").val(""); // Clear the message box

    scrollToBottom("#messages");

    // Don't actually submit the form, otherwise the page will refresh.
    return false;
  });
  //######################################################################
})

</script>
