<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
  <div class="well narrow">
    <%= form_for @user, html: {class: "form-horizontal"} do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name, "Display Name" %>
      <%= f.text_field :name, class: "form-control" %>

      <%= f.label :email %>
      <%= f.text_field :email, class: "form-control" %>

      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
	  <div class="center">
		<%= f.submit "Create my account", class: "btn btn-lg btn-primary" %>
	  </div>
    <% end %>
  </div>